body{
	font-family:courier new;
}

#wrapper{
	width:900px;
	position:relative;
	margin:auto auto;
}

#hero{
	width:350px;
	position:relative;
	margin:auto auto;	
}

#herosquare{
	border: solid black 2px;
	width:346px;
	text-align:center;
	position:relative;
	margin:400px auto 0px auto;
	padding: 25px 0px;
	font-size: 40px;
}


#undersquare{
	width: 350px;
	margin-bottom:500px;
	font-size:20px;
	text-align:center;
	font-weight:100;
	letter-spacing:8px;
}

#contact{
	margin-bottom:50px;
}

.sidebar{
	width:200px;
	position:relative;
	float:left;
	font-weight:bold;
}

.content{
	width:700px;
	float:right;
	position:relative;
	
}

.clearfix{
	clear:both;
}

.section{
	margin:150px 0px;
	overflow:hidden;
}

a:link, a:visited, a:hover, a:active{
	color:black;
	text-decoration:underline;
}

img{
	height:22px;
}

#footer {
	margin-bottom:50px;
	text-align:center;
}